main#partners {
  height: unset !important; 
  #partner-items {
    figure {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        height: auto;
      }

      figcaption {
        padding-top: 1.5em;
        flex: auto;
        span {
          text-transform: uppercase;
        }
        h2 {
          @include fluid-type($min_width, $max_width, 24px, 28px);
          font-family: 'Hind Jalandhar', sans-serif;
          color: #fff;
          font-weight: bold;
          margin-top: 0.8em;
        }
        p {
          @include fluid-type($min_width, $max_width, 12px, 18px);
          width: 100%;
        }
      }
    }
  }
}