// RESET //

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

body {
  font-family: 'Porter', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

main {
    padding: 7vh 6vw;
}