// team Subpage //
main#team {
  width: 80%;
  margin: 0 auto;

  h1 {
    @include fluid-type($min_width, $max_width, 30px, 35px);
    font-family: 'Porter', sans-serif;
    span {
      @include fluid-type($min_width, $max_width, 24px, 28px);
      font-family: 'Hind Jalandhar', sans-serif;
      font-weight: bold;
      display: block;
    }
  }

  p {
    @include fluid-type($min_width, $max_width, 24px, 28px);
    font-family: 'Hind Jalandhar', sans-serif;
    font-weight: normal;
    width: 75%;
  }

  #team-members {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    figure {
      display: inline-block;

      div {
        width: 282px;

        p {
          @include fluid-type($min_width, $max_width, 14px, 18px);
          font-family: 'Hind Jalandhar', sans-serif;
          line-height: 1.8em;
          opacity: 0;
          position: absolute;
          max-width: 238px;
          height: 382px;
          margin: 0;
          z-index: 100;
          padding: 1.5em 1.5em 0;
          background-color: #fff;
          transition: opacity 0.5s;
        }

        img {
          position: relative;
        }

        &:hover {
          p {
            opacity: 1;
            cursor: pointer;
            transition: opacity 0.2s;
          }
        }
      }

      figcaption {
        @include fluid-type($min_width, $max_width, 22px, 26px);
        display: inline-block;
        width: 75%;
        padding-top: 1.5em;
        color: #000;

        span {
          @include fluid-type($min_width, $max_width, 16px, 20px);
          font-family: 'Hind Jalandhar', sans-serif;
          font-weight: normal;
          display: block;
        }
      }
    }
  }
}
