@font-face {
  font-family: 'Porter';
  src: url('fonts/porter_bold-webfont.woff2') format('woff2'),
    url('fonts/porter_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hind Jalandhar';
  src: url('fonts/HindJalandhar-Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: bolder;
}

@font-face {
  font-family: 'Hind Jalandhar';
  src: url('fonts/HindJalandhar-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Hind Jalandhar';
  src: url('fonts/HindJalandhar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Karla:700&display=swap');

// Typography //

h1 {
  font-family: 'Hind Jalandhar', sans-serif;
  font-weight: bold;
  font-size: 25px;

  span {
    font-family: 'Porter', sans-serif;
  }
}

h2 {
  font-family: 'Hind Jalandhar', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  text-transform: capitalize;
}