@import url("https://fonts.googleapis.com/css?family=Karla:700&display=swap");
@font-face {
  font-family: 'Porter';
  src: url("fonts/porter_bold-webfont.woff2") format("woff2"), url("fonts/porter_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Hind Jalandhar';
  src: url("fonts/HindJalandhar-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold; }

@font-face {
  font-family: 'Hind Jalandhar';
  src: url("fonts/HindJalandhar-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

h1 {
  font-family: 'Hind Jalandhar', sans-serif;
  font-weight: bold;
  font-size: 25px; }
  h1 span {
    font-family: 'Porter', sans-serif; }

h2 {
  font-family: 'Hind Jalandhar', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  text-transform: capitalize; }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Porter', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff; }

main {
  padding: 3em 6em; }

nav#main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2em 5em;
  background-color: #fff;
  border-bottom: solid 2px #262626; }
  nav#main-nav #home-button {
    max-width: 135px; }
    nav#main-nav #home-button img {
      width: 100%; }
  nav#main-nav #hamburger-menu {
    display: none;
    border: none;
    font-size: xx-large; }
  nav#main-nav ul#main-nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 540px; }
    nav#main-nav ul#main-nav-items li {
      display: block; }
      nav#main-nav ul#main-nav-items li {
        font-size: 12px; }
        @media screen and (min-width: 425px) {
          nav#main-nav ul#main-nav-items li {
            font-size: calc(12px + 4 * ((100vw - 425px) / 2135)); } }
        @media screen and (min-width: 2560px) {
          nav#main-nav ul#main-nav-items li {
            font-size: 16px; } }
      nav#main-nav ul#main-nav-items li a {
        text-decoration: none;
        color: #000;
        position: relative;
        z-index: 1;
        padding: 15px; }
        nav#main-nav ul#main-nav-items li a:hover {
          color: #fff; }
          nav#main-nav ul#main-nav-items li a:hover:after {
            opacity: 1;
            visibility: visible;
            height: 100%; }
        nav#main-nav ul#main-nav-items li a:after {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 1px;
          content: '.';
          color: transparent;
          background: #FF0037;
          visibility: none;
          opacity: 0;
          z-index: -1; }
        nav#main-nav ul#main-nav-items li a, nav#main-nav ul#main-nav-items li a:after, nav#main-nav ul#main-nav-items li a:before {
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s; }

nav#mobile-nav {
  background-color: #fff;
  position: fixed;
  height: 65vh;
  width: 100vw;
  z-index: 100;
  margin-top: 104px;
  padding: 1em 3em; }
  nav#mobile-nav ul#mobile-nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 50vh;
    list-style: none;
    padding: 0; }
    nav#mobile-nav ul#mobile-nav-items li a {
      text-decoration: none;
      color: #000;
      position: relative;
      z-index: 1;
      padding: 1em 2em; }
  nav#mobile-nav #social-media-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 200px;
    padding-left: 2em; }
    nav#mobile-nav #social-media-links a {
      color: #000;
      font-size: xx-large; }

@media screen and (max-width: 992px) {
  nav#main-nav ul#main-nav-items {
    display: none; }
  nav#main-nav #hamburger-menu {
    display: block; } }

@media screen and (min-width: 993px) {
  nav#main-nav ul#main-nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  nav#main-nav #hamburger-menu {
    display: none; }
  nav#mobile-nav {
    display: none !important; } }

main#speakers {
  width: 80%;
  margin: 0 auto; }
  main#speakers #display-buttons button {
    border: none;
    padding: 0.5em 1em; }
    main#speakers #display-buttons button:not(.uk-active) {
      opacity: 0.5; }
  main#speakers #all-speakers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
    main#speakers #all-speakers figure {
      display: inline-block; }
      main#speakers #all-speakers figure div {
        width: 282px; }
        main#speakers #all-speakers figure div p {
          font-family: 'Hind Jalandhar', sans-serif;
          line-height: 1.8em;
          opacity: 0;
          position: absolute;
          max-width: 238px;
          height: 382px;
          margin: 0;
          z-index: 100;
          padding: 1.5em 1.5em 0;
          background-color: #fff;
          -webkit-transition: opacity 0.5s;
          -o-transition: opacity 0.5s;
          transition: opacity 0.5s; }
          main#speakers #all-speakers figure div p {
            font-size: 14px; }
            @media screen and (min-width: 425px) {
              main#speakers #all-speakers figure div p {
                font-size: calc(14px + 4 * ((100vw - 425px) / 2135)); } }
            @media screen and (min-width: 2560px) {
              main#speakers #all-speakers figure div p {
                font-size: 18px; } }
        main#speakers #all-speakers figure div img {
          position: relative; }
        main#speakers #all-speakers figure div:hover p {
          opacity: 1;
          cursor: pointer;
          -webkit-transition: opacity 0.2s;
          -o-transition: opacity 0.2s;
          transition: opacity 0.2s; }
      main#speakers #all-speakers figure figcaption {
        display: inline-block;
        width: 75%;
        padding-top: 1.5em;
        color: #000; }
        main#speakers #all-speakers figure figcaption {
          font-size: 22px; }
          @media screen and (min-width: 425px) {
            main#speakers #all-speakers figure figcaption {
              font-size: calc(22px + 4 * ((100vw - 425px) / 2135)); } }
          @media screen and (min-width: 2560px) {
            main#speakers #all-speakers figure figcaption {
              font-size: 26px; } }
        main#speakers #all-speakers figure figcaption span {
          font-family: 'Hind Jalandhar', sans-serif;
          font-weight: normal;
          display: block; }
          main#speakers #all-speakers figure figcaption span {
            font-size: 16px; }
            @media screen and (min-width: 425px) {
              main#speakers #all-speakers figure figcaption span {
                font-size: calc(16px + 4 * ((100vw - 425px) / 2135)); } }
            @media screen and (min-width: 2560px) {
              main#speakers #all-speakers figure figcaption span {
                font-size: 20px; } }
