@font-face {
  font-family: 'Porter';
  src: url('fonts/porter_bold-webfont.woff2') format('woff2'),
    url('fonts/porter_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hind Jalandhar';
  src: url('fonts/HindJalandhar-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Hind Jalandhar';
  src: url('fonts/HindJalandhar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Karla:700&display=swap');

// MIXINS

$min_width: 425px;
$max_width: 2560px;


@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

// RESET //

body {
  font-family: 'Porter', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #fff;
}

// Typography //

h1 {
  font-family: 'Hind Jalandhar', sans-serif;
  font-weight: bold;
  font-size: 25px;

  span {
    font-family: 'Porter', sans-serif;
  }
}

h2 {
  font-family: 'Hind Jalandhar', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  text-transform: capitalize;
}

// Main Navigation (Desktop)

nav#main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2em 5em;
  border-bottom: solid 2px #262626;

  #home-button {
    max-width: 135px;
    img {
      width: 100%;
    }
  }

  #hamburger-menu {
    display: none;
    border: none;
    font-size: xx-large;
  }

  ul#main-nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    // margin: 0;
    width: 540px;

    li {
      @include fluid-type($min_width, $max_width, 12px, 16px);
      display: block;

      a {
        text-decoration: none;
        color: #000;
        position:relative;
        z-index: 1;
        padding: 15px;

        &:hover {
          color: #fff;

          &:after {
            opacity: 1;
            visibility: visible;
            height: 100%;
          }
        }

        &:after {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 1px;
          content: '.';
          color: transparent;
          background: #FF0037;
          visibility: none;
          opacity: 0;
          z-index: -1;
        }

        &, &:after, &:before  {
          transition: all .5s;
        }
      }
    }
  }
}

// Mobile Navigation //

nav#mobile-nav {
  height: 50vh;
  padding: 1em 3em;
  
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    list-style: none;
    padding: 0;
    
    li {
      a {
        text-decoration: none;
        color: #000;
        position:relative;
        z-index: 1;
        padding: 1em 2em;
      }
    }
  }

  #social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    padding-left: 2em;

    a {
      color: #000;
      font-size: xx-large;
    }
  }
}

@media screen and (max-width: 992px) {
  nav#main-nav {
    
    ul#main-nav-items {
      display: none;
    }

    #hamburger-menu {
      display: block;
    }
  }
}

@media screen and (min-width: 993px) {
  nav#main-nav {
    
    ul#main-nav-items {
      display: flex;
    }

    #hamburger-menu {
      display: none;
    }
  }
}

// Main Content //

main {

}