// Base Styles //
@import 'typography';
@import 'mixins';
@import 'reset';
@import 'navigation';

// Subpages //
@import 'speakers';
@import 'tickets';
@import 'team';
@import 'about';

// Main Content //

main#homepage {
  display: flex;
  flex-direction: column;
  padding: 0;

  .button {
    @include fluid-type($min_width, $max_width, 19px, 25px);
    font-family: 'Hind Jalandhar', sans-serif;
    font-weight: bold;
    display: inline-block;
    color: #000;
    background-color: #fff;
    border: solid 2px #000;
    padding: 0.7em;
    width: 276px;
    text-decoration: none;
    text-align: center;
    box-shadow: inset 0 0 0 0 #000;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

    &:hover {
      color: #fff;
      box-shadow: inset 420px 0 0 0 #000;
      -webkit-transition: ease-out 0.4s;
      -moz-transition: ease-out 0.4s;
      transition: ease-out 0.4s;
      cursor: pointer;
    }
  }

  #hero {
    display: flex;
    flex-direction: row;
    height: 95vh;
  }

  #mobile-event-details {
    display: none;
  }

  #event-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 585px;
    height: 70vh;
    margin: 0;
    padding: 3vw;
    font-family: 'Hind Jalandhar', sans-serif;
    color: #000;
    position: fixed;

    img {
      width: 24px;
      padding-bottom: 0.5em;
    }

    span {
      @include fluid-type($min_width, $max_width, 18px, 28px);
      font-weight: bold;
    }

    h1 {
      @include fluid-type($min_width, $max_width, 22px, 30px);
      font-family: 'Porter', sans-serif;
      margin: 0;
    }

    h2 {
      @include fluid-type($min_width, $max_width, 19px, 25px);
      font-weight: bolder;
      margin: 0;
    }

    h3 {
      @include fluid-type($min_width, $max_width, 18px, 28px);
      font-weight: bolder;
      margin: 0;
    }

    #event-details-heading {
      width: 100%;
    }

    #event-date,
    #event-location {
      width: 100%;
    }

    address {
      @include fluid-type($min_width, $max_width, 18px, 28px);
      font-weight: bolder;
      margin: 0;
    }

    #social-media-links {
      width: 100%;

      h2 {
        padding-bottom: 0.4em;
      }

      a {
        color: #000;

        i {
          font-size: 34px;
          margin-right: 0.3em;
        }
      }
    }
  }

  #animation {
    width: 46vw;
    padding-right: 3vw;
    margin: 0 auto
  }

  #introduction {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 33vw;
    height: 48.9vw;
    padding: 0em 1em 0;
    position: absolute;
    right: 0;
    ;

    img {
      width: 100%;
    }

    @-moz-document url-prefix() {
      height: 48.1vw;
    }
  }

  #our-speakers,
  #past-talks,
  #newsletter-signup {
    padding-top: 3em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    #our-speakers-heading,
    #past-talks-heading,
    #newsletter-signup-heading {
      span {
        @include fluid-type($min_width, $max_width, 10px, 22px);
        font-family: 'Hind Jalandhar', sans-serif;
        font-weight: 600;
        color: #000;
      }

      h2 {
        @include fluid-type($min_width, $max_width, 16px, 50px);
        font-family: 'Porter', sans-serif;
        font-weight: bold;
        margin-top: 0;
        line-height: 1.5em;
        color: #000;
      }

      p {
        @include fluid-type($min_width, $max_width, 14px, 18px);
        font-family: 'Hind Jalandhar', sans-serif;
        font-weight: normal;
        line-height: 1em;
        color: #000;
      }
    }

    #past-talks-heading {
      padding-bottom: 2em;
    }


    #our-speakers-items,
    #past-talks-items {
      display: flex;
      flex-direction: column;

      .video-preview-button {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-bottom: 8em;

        &:hover {
          cursor: pointer;
        }
      }

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &:nth-of-type(2) {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          figcaption {
            margin-bottom: 3em;
          }

          .button {
            display: block;
            width: 80%;

            &#speakers-button {
              margin-top: -5.5em;
            }

            &#more-talks-button {
              margin-top: -3.5em;
            }
          }
        }
      }

      #featured-speaker-1,
      #featured-speaker-4 {
        padding-top: 7em;
      }

      #featured-speaker-2 {
        margin-top: -3.5em;
      }
    }

    figure {
      display: inline-block;

      figcaption {
        @include fluid-type($min_width, $max_width, 13px, 20px);
        display: inline-block;
        width: 90%;
        padding-top: 1em;
        color: #000;

        span {
          @include fluid-type($min_width, $max_width, 12px, 18px);
          font-family: 'Hind Jalandhar', sans-serif;
          font-weight: normal;
          display: block;
          padding-top: 0.4em;
        }
      }

      &:hover {
        figcaption {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }
  }

  #newsletter-signup {
    padding: 28vh 0;

    p {
      line-height: 20px;
    }
  }

  #newsletter-signup-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
      @include fluid-type($min_width, $max_width, 16px, 20px);
      font-family: 'Hind Jalandhar', sans-serif;
      font-weight: 600;
      border: solid 2px #000;
      padding: 0.5em 1em;
      margin-right: 2em;
    }

    button {
      @include fluid-type($min_width, $max_width, 16px, 20px);
      margin-right: 4em;
    }
  }

  @media screen and (max-width: 1024px) {
    .uk-width-2-3\@m {
      margin-left: 2em;
    }
  }

  @media screen and (max-width: 500px) {

    section {
      width: 84vw;
      margin: 0 auto;
    }

    #hero #event-details,
    .uk-width-expand .block {
      display: none;
    }

    #hero {
      height: 75vh;
      flex-direction: column;

      #animation {
        // margin: 0;
        width: 80vw;
        padding: 2em 0 0;
      }

      #introduction {
        height: 90vw;
      }

      #mobile-event-details {
        display: block;
        font-family: 'Hind Jalandhar', sans-serif;
        font-weight: 600;
        color: #000;
        margin: 0 auto;
        width: 100%;
        padding-top: 5vh;

        .button {
          width: 92%;
          margin: 1em 0;
        }

        #mobile-event-details-container {
          display: flex;
          flex-direction: row;

          h2 {
            padding-top: 20px;
            font-size: 13px;
            font-weight: bold;
            margin: 0;
          }

          h3 {
            font-size: 13px;
            line-height: 22px;
            font-weight: bold;
            margin: 0;
          }

          address {
            font-size: 13px;
          }
        }
      }
    }

    #our-speakers {
      margin-top: 20vh;

      .uk-width-2-3\@m {
        margin-left: auto;

        #featured-speaker-3 figure {
          width: 84vw;
        }
      }

      .row {
        justify-content: space-between !important;
        width: 105%;

        &:nth-of-type(2) {
          display: flex;
          flex-direction: column;
          padding-top: 1.5em;
          order: 3;

          #speakers-button-container {
            padding-top: 10vh;
            order: 2;

            .button {
              width: 95%;
            }
          }
        }
      }

      figure figcaption {
        width: 100%;
      }

      #featured-speaker-1,
      #featured-speaker-2,
      #featured-speaker-4,
      #featured-speaker-5 {
        padding-top: 0 !important;
        margin-top: 0 !important;
      }
    }

    #past-talks {
      .uk-width-2-3\@m {
        margin-left: auto;

        button {
          width: 100%;
        }
      }

      #past-talks-items {
        .row {

          button {
            margin-bottom: 2em;
          }

          &:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            order: 3;

            #more-talks-button-container {
              order: 2;

              #more-talks-button {
                margin-top: 2em;
                width: 91%;
              }
            }
          }
        }
      }
    }

    #newsletter-signup {
      padding: 15vh 0 !important;

      .uk-width-2-3\@m {
        margin-left: auto;
      }

      #newsletter-signup-form {
        flex-direction: column;

        .button {
          margin-top: 1em;
          width: 100%;
        }
      }

      #social-media-links {
        width: 100%;
        padding-top: 2em;

        h2 {
          @include fluid-type($min_width, $max_width, 19px, 25px);
          font-weight: bolder;
          margin: 0;
          padding-bottom: 0.4em;
        }

        a {
          color: #000;

          i {
            font-size: 34px;
            margin-right: 0.3em;
          }
        }
      }
    }
  }
}

// Video Modals

.uk-modal-dialog {
  iframe {
    padding-top: 1em;
  }
}